<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find ur_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Load Parameter -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotiq_2f_85_gripper_visualization)/urdf/test.urdf'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model gripper_2f_85" respawn="false" output="screen" />
 
  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>
  
  <!-- start this controller -->
  <rosparam file="$(find ur_gazebo)/controller/gripper_controller_robotiq.yaml" command="load"/>
  <node name="gripper_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn gripper_controller" respawn="false" output="screen"/>
  
</launch>
