dill>=0.3.6
numpy>=1.24.2
torch>=2.0.0
matplotlib>=3.7.1
transformations>=2022.9.26
scipy>=1.10.1
multiprocess>=0.70.14
pyglet>=1.5.27
sphinxcontrib-napoleon
sphinx-copybutton
sphinx_multitoc_numbering
sphinx
sphinx_rtd_theme
sphinxcontrib-jquery
