dill>=0.4.0
numpy>=2.2.5
torch>=2.7.0
PySide6>=6.9.0
matplotlib>=3.10.1
transformations>=2022.9.26
scipy>=1.10.1
multiprocess>=0.70.18
pyglet>=1.5.27
sphinxcontrib-napoleon
sphinx-copybutton
sphinx_multitoc_numbering
sphinx
sphinx_rtd_theme
sphinxcontrib-jquery
ablog
sphinx.ext.intersphinx
